 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway',sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.flexbox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.hero-txt{
  flex: 1;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: left;

}
.hero-img{
  display: flex;
  justify-content: center;
  flex: 1.5;
  padding: 1rem;
}